.radioimg{
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 20px;
  
}
.radioList{
  display: flex;
  justify-content: space-between;
  padding-right:10%;
  align-items: center; 
}
.row_top{
  padding: 20px;
}